#main-window #nav-bar {
	background: black !important;
	filter: grayscale(1) !important;
	height: 1px !important;
}

#tabbrowser-tabs {
	background: black !important;
	filter: grayscale(1) !important;
	height: 1px !important;
}

img {
	visibility: collapse !important;
}
